move-contracts/**/build/
move-contracts/**/Move.lock
move-contracts/**/Published.toml
*.log
.DS_Store
cloudflare-proxy/
.move-test/
hunt-public-dapp/
ext/eveuluvme-site
ext/singuhunt-app
ext/singuvault-app
